/* Basic Style */
body {
  font-family: "Lato", sans-serif;
  color: #333;
  background-color: #f8f8f8;
}

.header {
  display: block;
  width: 500px;
  margin: 0 auto;
  text-align: right;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}

.header__img {
  width: 100%;
}

.header__link {
  font-family: fantasy, cursive;
}

.main {
  display: block;
  width: 500px;
  margin: 0 auto;
}

.add-item__label {
  display: block;
  margin: 0 0 20px;
}

.add-item__wrapper {
  display: flex;
  padding-top: 20px;
}

.add-item__input {
  width: 318px;
}

.task {
  display: inline-block;
  flex-grow: 1;
  width: 56%;
}

.list {
  margin: 0;
  padding: 0;
}

.button {
  width: 60px;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #888;
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
}

.button:hover {
  color: #3a3a3a;
}

/* Heading */
.title {
  margin: 0;
  padding: 30px 0 10px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  border-bottom: 2px solid #333;
}

.input-text {
  height: 21px;
  margin: 0;
  padding: 0 9px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #888;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.input-text:focus {
  color: #333;
}

.checkbox {
  margin: 0 10px;
  outline: none;
}

/* Task list */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  list-style: none;
  overflow: hidden;
}

.item__label {
  box-sizing: border-box;
  width: 226px;
  padding-left: 10px;
  font-size: 18px;
}

.item__input {
  width: 226px;
}

/* Completed */
.completed__list .item__label {
  color: #888;
  text-decoration: line-through;
}

/* Edit Task */
.item .input-text {
  display: none;
}

.todo__edit-item .input-text {
  display: inline-block;
  width: 224px;
}


.todo__edit-item label {
  display: none;
}

.button_delete {
  position: relative;
  width: 48px;
  height: 33px;
}

.button_delete::before {
  position: absolute;
  left: 9px;
  top: 1px;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("./remove.svg");
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button_delete:hover::before {
  transform: rotateZ(0);
}